html {
    height: 0px;}

nav button {
    /* position: inherit; */
    height: 60px;
    display:block;
    background: none; 
    border: none;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px !important;
}

nav button:hover{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px  #000000;
}
nav button:active{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px inset #000000;
}

nav {
    background: #40685f !important;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content:stretch;
    align-items: stretch;
    height: 60px;
    width: 100%;
}

#icoli {
 width: 50px;
 height: 50px;
}

body {
    background-image: url("imgs/bosque.png");
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    background-position-y: top;
    background-color: #203833; 
    margin: 0px; 
}

#titulo{
    background-color: #203833; 
    padding-left: 50px;
    color: white;
}