/* PRIMER ALGUNS AJUSTAMENTS A LA PÀGINA GENERAL */
html {
    height: 0px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

/* MÉS ENDEVANT UTILITZARÉ AQUEST KEFRAME PER ANIMAR ELS BOTONS */
@keyframes luz {
    from {
        background-color: none;
        color: #A5ADAB;
        box-shadow: none;
    }

    50% {
        background-color: #4c746c 50%;
        box-shadow: 1px 2px 5px #000000;
    }

    to {
        background-color: #4c746c;
        color: #ecf1f0;
        box-shadow: 1px 2px 5px #000000;
    }
}

@media screen and (min-width: 480px) {
    #i {
        width: calc(100%);
    }
}

/* AQUÍ DONO ESTIL A LA BARRA DE NAVEGACIÓ I ALS BOTONS DE LA MATEIXA*/
nav {
    background: #40685f !important;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: stretch;
    align-items: center;
    height: 60px;
    width: 100%;
}

nav button {
    /* position: inherit; */
    height: 60px;
    display: block;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px !important;
}

nav button:hover {
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px #000000;
}

nav button:active {
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px inset #000000;
}

#icoli {
    width: 50px;
    height: 50px;
}

/* COM JA TINC LA BARRA DE NAVEGACIÓ FIXADA, ARA CONFIGURO EL COS DE LA PÀGINA */
body {
    background-image: url("imgs/bosque.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-color: #203833;
    margin: 0;
}

/* AQUÍ DONO ALS ESPAIS LA SEVA ALÇADA */
#SPC {
    height: 50px;
    display: flex;
}

/* ARA DONO FORMA A LA PRIMERA GRID AMB EL TEXT I LA CONFIGURACIÓ DELS BOTONS (#BYE) QUE USARAN LES ALTRES GRIDS */
#LCAT {
    line-height: normal;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 28vw;
    background-color: #203833;
    color: #A5ADAB;
}

.BYE {
    margin-top: 0 !important;
    background: none;
    border-radius: 10% / 50%;
    border-color: #162724;
    padding: 1vw 2vw 1vw 2vw;
    font-weight: bold !important;
    font-size: 2.5vw !important;
    color: #A5ADAB;
}

.BYE:hover {
    animation: "luz" 250ms linear;
    animation-duration: 1000ms;
    background-color: #4c746c;
    color: #ecf1f0;
    box-shadow: 1px 2px 5px #000000;
}

.BYE:active {
    background: #203833;
    box-shadow: inset 1px 2px 5px #000000;
}

/* AQUEST ES L'ESTIL DE LES IMATGES (L'OMBRA) */
.boy {
    box-shadow: 1px 1px 5px black;
    height: 29vw;
    width: 29vw;
}

#G1 {
    height: 25vw;
    text-shadow: 1px 1px 1px #000000;
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-right: 5vw;
    padding-left: 1.5vw;
}

#G2 {
    grid-column: 2;
    grid-row: 1;
    border: 1px #000000;

}

/* AQUÍ RECICLO LA CONFIGURACIÓ PERÒ CANVIO LE CEL·LES DE LLOC PER LA SEGONA GRID*/
#LPRE {
    display: grid;
    grid-template-columns: 1, 1;
    height: 28vw;
    background-color: #203833;
    color: #A5ADAB;
    margin-left: 2rem;
    margin-right: 2rem;
}

#G3 {

    text-shadow: 1px 1px 1px #000000;
    grid-column: 2;
    grid-row: 1;
    padding-left: 5vw;
}

#G4 {
    grid-column: 1;
    grid-row: 1;
    text-align: right !important;
}

/* I AQUÍ TORNO A CONFIGURAR-HO TOT COM LA PRIMERA GRID PER FER LA TERCERA */
#LLINK {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 28vw;
    background-color: #203833;
    color: #A5ADAB;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* AIXÒ ÉS UN ESPACIADOR UNA MICA MÉS GRAN PEL FOOTER */
#FSPC {
    height: 116px;
}

/* AQUÍ CONFIGURO EL FOOTER */
footer {
    position: sticky;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1, 1, 1;
}

#foot {
    height: inherit;
    width: 33%;
    grid-column: 2;
    grid-row: 1;
}


/* I AQUÍ RECICLO LA CONFIGURACIÓ DELS BOTONS #BYE PERÒ DE FORMA INDEPENDENT PER CANVIAR-LOS LA POSICIÓ          1593.6*/
#FT {
    translate: 200% 0%;
    width: 17vw;
    height: 18vw;
    background-color: #40685f;
    border: none;
    border-radius: 50%;
    margin-bottom: 1vw;
    box-shadow: 5px 5px 1px #000000, 10px 10px 10px;
}

#FT:hover {
    animation: "luz" 250ms linear;
    animation-duration: 1000ms;
    background-color: #4c746c;
    color: #ecf1f0;
    box-shadow: 1px 2px 5px #000000;
}

#FT:active {
    background: #203833;
    box-shadow: inset 1px 2px 5px #000000;
}

#GF2 {
    float: right;
    display: block;
    height: inherit;
    width: 77%;
    grid-column: 1;
    grid-row: 1;
}

#up {
    width: 100%;
    height: 100%;
}