html {
    height: 0px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    color: #A5ADAB;
    background-image: url("imgs/bosque.png");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-color: #203833; 
    margin: 0; 
}

#FSPC {
    height: 116px;
}


#LCAT {
@include grid-elem();
}

.BYE {
@include body-but();
}

.BYE:hover {
@include body-but-ho();
}

.BYE:active {
@include body-but-ac();
}

.boy {
    box-shadow: 1px 1px 5px black;
    height: 29vw;
    width: 29vw;
}

.G1 {
 @include grid-txt($grid-column: 1, $grid-row: 1, $Lpadding: 1.5vw, $Rpadding: 5vw);
    text-align: right;
    height: 25vw;
}

.G2 {
@include grid-pic($grid-column: 2, $grid-row: 1);
text-align: left;
}

#LPRE {
@include grid-elem();
}

#G3 {
    @include grid-txt($grid-column: 2, $grid-row: 1, $Lpadding: 5vw, $Rpadding: 0);
}

#G4 {
    @include grid-pic($grid-column: 1, $grid-row: 1,);
    text-align: right;
}

#LLINK {
@include grid-elem();
}
