html {
    height: 0px;}

nav button {
    /* position: inherit; */
    height: 60px;
    display:block;
    background: none; 
    border: none;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 6px 12px !important;
    text-decoration: none;
    font-weight: bold;
}

nav button:hover{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px  #000000;
}
nav button:active{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px inset #000000;
}

nav {
    background: #40685f !important;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content:stretch;
    align-items: stretch;
    height: 60px;
    width: 100%;
}

#icoli {
 width: 50px;
 height: 50px;
}

body {
    background-image: url("../imgs/bosque.png");
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    background-position-y: top;
    background-color: #203833; 
    margin: 0px; 
}
#content1{
    background-color: #203833; 
    padding-left: 50px;
    color: white;
}

#content1{
    background-color: #203833; 
    padding-left: 50px;
    color: white;
}

#paradojas{
    color: gray;
    font-size: 16px;
    text-transform: lowercase;
    font-style: normal;
    text-decoration: none;
}

#paradojas:hover{
    font-size: 32px;
}