html {
    height: 0px;}

nav button {
    /* position: inherit; */
    height: 60px;
    display:block;
    background: none; 
    border: none;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px !important;
}

nav button:hover{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px  #000000;
}
nav button:active{
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px inset #000000;
}

nav {
    background: #40685f !important;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content:stretch;
    align-items: stretch;
    height: 60px;
    width: 100%;
}

#icoli {
 width: 50px;
 height: 50px;
}

body {
    background-image: url("../imgs/bosque.png");
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    background-position-y: top;
    background-color: #203833; 
    margin: 0px; 
}

#content1{
    background-color: #203833; 
    padding-left: 50px;
    color: white;
}


#FSPC{height:116px;}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #40685f !important;
    height: 100px;
    display: grid;
    grid-template-columns: 1, 1, 1;
}

.foot {
    height: inherit;
    width: 100%;
}

#GF1 {
    background-color: #40685f;
    float: left;
    display: block;
    height: inherit;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
/* I AQUÍ RECICLO LA CONFIGURACIÓ DELS BOTONS #BYE PERÒ DE FORMA INDEPENDENT PER CANVIAR-LOS LA POSICIÓ */
#FT {
    translate: 90% 50%;
    width: 33%;
    grid-column: 2;
    grid-row: 1;
    background: none;
    border-radius: 10% / 50%;
    border-color: #162724;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    color: #A5ADAB;
}

#FT:hover {
    animation: "luz" 250ms linear;
    animation-duration: 1000ms;
    background-color: #4c746c;
    color: #ecf1f0;
    box-shadow: 1px 2px 5px  #000000;
}

#FT:active {
    background: #203833;
    box-shadow: inset 1px 2px 5px  #000000;
}

#GF2 {
    float: right;
    display: block;
    height: inherit;
    width: 33%;
    grid-column: 3;
    grid-row: 1;
}
