@mixin nav-st() {
    background: #40685f;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: stretch;
    align-items: stretch;
    height: 60px;
    width: 100%;
}

@mixin nav-but-st() {
    float: left;
    height: 60px;
    display: block;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
}

@mixin nav-but-ho() {
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px #000;
}

@mixin nav-but-ac() {
    background: #203833;
    border: 1px solid #4c746c;
    border-radius: 10% / 50%;
    box-shadow: 1px 2px 5px inset #000;
}

@mixin grid-elem() {
    display: grid;
    grid-template-columns: 1, 1;
    height: 28vw;
    background-color: #203833;
    color: #a5adab;
    margin-left: 2rem;
    margin-right: 2rem;
}

@mixin grid-txt($grid-column: 1, $grid-row: 1, $Lpadding: 5vw, $Rpadding: 0) {
    text-shadow: 1px 1px 1px #000;
    grid-column: $grid-column;
    grid-row: $grid-row;
    padding-left: $Lpadding;
    padding-right: $Rpadding;
}

@mixin grid-pic($grid-column: 1, $grid-row: 1, $text-align: right) {
    grid-column: $grid-column;
    grid-row: $grid-row;
    border: 1px #000;
}

@mixin body-but() {
    margin-top: 0;
    background: none;
    border-radius: 10% / 50%;
    border-color: #162724;
    padding: 1vw 2vw;
    font-weight: bold;
    font-size: 2.5vw;
    color: #a5adab;
}

@mixin body-but-ho() {
    background-color: #4c746c;
    color: #ecf1f0;
    box-shadow: 1px 2px 5px #000;
}

@mixin body-but-ac() {
    background: #203833;
    box-shadow: inset 1px 2px 5px #000;
}



// CATEGORIA


@mixin content-block() {
    display: grid;
    grid-template-columns: 1, 1;
    background-color: #203833;
    padding-left: 40px;
    padding-right: 50px;
    color: #a5adab;
    text-shadow: 1px 1px 1px #000;
}

@mixin grid-par($grid-column: 1) {
    grid-column: $grid-column;
    grid-row: 1;
    text-align: center;
}

@mixin grid-impar($grid-column: 1, $Lpadding: 15px, $Rpadding: 15px) {
    grid-column: $grid-column;
    grid-row: 1;
    padding-right: $Rpadding;
    padding-left: $Lpadding;
}


// DETALL

@mixin detall-content($padding: 0) {
    background-color: #203833;
    padding: $padding;
    margin: 10px;
    border-radius: 1vw;
    border: 2px solid #3c6b62;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}



@mixin change-pg($width: 30%, $bradius: 0) {
    // padding: 5% 5% 5% 25%;
    text-align: center;
    height: 100%;
    width: $width;

    button {
        font-size: 2vw;
        text-align: center;
        // padding: 5% 10% 5% 10%;
        background: none;
        color: white;
        text-shadow: 1px 1px 1px #000000;
        height: 100%;
        width: 333%;
        border: 4px double #24453f;
        border-radius: $bradius;
        background-color: #4c746c;
    }


}